@import '../../../theme.scss';
@import '../../../graph.themes.scss';

.graph-circle {
  transition: r 200ms;
  r: 4px;
  cursor: pointer;
}

.graph-circle--state-hover {
  r: 8px;
}

.thirty-day-forecast-tooltip {
  overflow: hidden;
  font-size: 12px;
  padding: 8px;
  background-color: $primary-bg;
  opacity: 0.95;
  color: $primary-text;
  border: 1px solid $primary-text;
  border-radius: 0;
  box-sizing: border-box;
}
